@model MiGitMvc1.Models.TestDelegateModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delegate Test</h2>
<p>@Model.nameDelegate</p>
<p>@Model.valueDalegate</p>

